body {
    margin: 0;
    padding: 0;
}

header {
    background-color: transparent;
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 2%;
    right: 1%;

}

.button-container button {
    background-color: transparent;
    border-color: transparent;
}

.button-container {
    display: flex;
    gap: 10px;
    align-items: center;
    position: absolute;
    top: 5%;
    left: 18%;
}

.button-container button {
    background-color: transparent;
    border-color: transparent;
    /*font-size: 1.1875em;*/
    color: #FFFFFF;
}

.home-button {
    background: url("logo.png") no-repeat;
    width: 2em;
    height: 2em;
}

.edge-buttons-container {
    position: absolute;
    top: 5%;
    right: 1%;
}

.edge-buttons-container button {
    background-color: transparent;
    border-color: transparent;
}

.edge-buttons {
    color: #FFFFFF;

}

h3, h1 {
    margin: 0;
}
/*fuck you*/


section {
    margin: 0;
    padding: 0;
}

.main {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    /*this "scrolls the content but not the image"*/
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
}

.one {
    background-image: url("spacex1.jpg");
}

.starlink-mission {
    position: relative;
    top: 69%;
    left: 18%;
}

.starlink-mission h1 {
    color: #FFFFFF;
    font-size: 40px;
}

.starlink-mission h3 {
    color: #FFFFFF;
    font-size: 30px;
}

.starlink-mission-button {
    color: #FFFFFF;
    background-color: transparent;
    position: relative;
    top: 69%;
    left: 18%;
}

.two {
    background-image: url("spacex2.jpg");
}

.starlink-mission-two {
    position: relative;
    top: 69%;
    left: 18%;
}

.starlink-mission-two h1 {
    color: #FFFFFF;
    font-size: 40px;
}

.starlink-mission-two h3 {
    color: #FFFFFF;
    font-size: 30px;
}

.starlink-mission-button-two {
    color: #FFFFFF;
    background-color: transparent;
    position: relative;
    top: 69%;
    left: 18%;
}

.three {
    background-image: url("spacex3.jpg");
}

.dragon {
    position: relative;
    top: 69%;
    left: 18%;
}

.dragon h1 {
    color: #FFFFFF;
    font-size: 40px;
}

.dragon h3 {
    color: #FFFFFF;
    font-size: 30px;
}

.dragon-button {
    color: #FFFFFF;
    background-color: transparent;
    position: relative;
    top: 69%;
    left: 18%;
}

.four {
    background-image: url("spacex4.jpg");
}

.starship {
    position: relative;
    top: 69%;
    left: 18%;
}

.starship h1 {
    color: #FFFFFF;
    font-size: 40px;
}

.starship-button {
    color: #FFFFFF;
    background-color: transparent;
    position: relative;
    top: 69%;
    left: 18%;
}

